<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssadolda.model.dao.GymReviewDao">



<insert id="insertGymReview" parameterType="GymReview">
INSERT INTO gymreviews(userSeq,gymSeq,rating,comment,reviewDate)
VALUES(#{userSeq},#{gymSeq},#{rating},#{comment},CURRENT_TIMESTAMP)
</insert>

<select id="selectAllGymReviews" parameterType="int" resultType="GymReview">
SELECT *
FROM gymreviews
WHERE gymSeq=#{gymSeq}
</select>

<delete id="deleteGymReview" parameterType="int">
DELETE FROM gymreviews
where reviewSeq=#{reviewSeq}
</delete>

</mapper>
