<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssadolda.model.dao.GymStatisticsDao">

  <select id="getGymStatistics" parameterType="int" resultType="GymStatistics">
    SELECT 
        gymSeq, 
        totalViewCount,
        reviewCount,
        CASE 
            WHEN reviewCount = 0 THEN 0 
            ELSE averageRating / reviewCount 
        END AS averageRating,
        totalLikeCount
    FROM 
        gymStatistics
    WHERE 
        gymSeq = #{gymSeq}
  </select>


  <!-- 특정 헬스장의 평점 통계 및 조회수, 좋아요 수 업데이트 -->
  <update id="updateGymStatistics" parameterType="GymStatistics">
    UPDATE gymStatistics
    SET 
        totalViewCount = #{totalViewCount},
        averageRating = #{averageRating},
        reviewCount = #{reviewCount},
        totalLikeCount = #{totalLikeCount}
    WHERE 
        gymSeq = #{gymSeq}
  </update>
  
   <update id="incrementViewCount" parameterType="int">
        UPDATE gymStatistics 
        SET totalViewCount = totalViewCount + 1 
        WHERE gymSeq = #{gymSeq}
    </update>
    
    <select id="gymCount" resultType="int">
    	SELECT COUNT(*)
    	FROM gymStatistics
    </select>
    
    
    <!--  좋아요 증가 감소 -->
    
    <update id="incrementLike" parameterType="int">
    UPDATE gymStatistics
    SET totalLikeCount = totalLikeCount + 1
    WHERE gymSeq = #{gymSeq}
    </update>
    
        <update id="decreaseLike" parameterType="int">
    UPDATE gymStatistics
    SET totalLikeCount = totalLikeCount - 1
    WHERE gymSeq = #{gymSeq}
    </update>
    
    <!--  정렬하기 -->
    
        <select id="sortGyms" parameterType="map" resultType="Gymsort">
        SELECT g.*, gs.totalViewCount, gs.averageRating, gs.reviewCount, gs.totalLikeCount
        FROM gyms g
        LEFT JOIN gymStatistics gs ON g.gymSeq = gs.gymSeq
        ORDER BY
            <choose>
                <when test="sortBy == 'totalViewCount'">
                    gs.totalViewCount
                </when>
                <when test="sortBy == 'averageRating'">
                    gs.averageRating
                </when>
                <when test="sortBy == 'reviewCount'">
                    gs.reviewCount
                </when>
                <when test="sortBy == 'totalLikeCount'">
                    gs.totalLikeCount
                </when>
                <otherwise>
                    g.gymSeq
                </otherwise>
            </choose>
            <choose>
                <when test="order == 'desc'">
                    DESC
                </when>
                <otherwise>
                    ASC
                </otherwise>
            </choose>
    </select>
    
    

</mapper>
